@model IEnumerable<Expenses>

@{
    ViewData["Title"] = "Listing of All Expenses";
}

<div>
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-success">View All Your Expenses</h2>
        </div>
        <div class="col-3">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-primary">Add New Expense</a>
        </div>
    </div>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Expense Date</th>
                <th>Given To</th>
                <th>Amount</th>
                <th></th>                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%">@item.ExpenseDate.ToShortDateString()</td>
                    <td width="20%">@item.ExpenseGivenTo</td>
                    <td width="20%">@item.ExpenseAmount</td>

                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Expense" asp-action="GetExpenseDetailsForUpdate" asp-route-id="@item.ExpenseId" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="Expense" asp-action="GetExpenseDetailsForDelete" asp-route-id="@item.ExpenseId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p class="text-center"><b>No expense created yet.</b></p>
}